*{
	font-family: "Courier", monospace;
}

nav{
	margin:auto;
}

audio{
	width:50%;
	border:1px solid white;
	color:black;
	background-color:white;
}

.button{
	background-color:black;
	color:white;
	width:100%;
	height:5vh;
	border:1px solid white;
}
.button:hover{
	background-color:#111;
}
.button:active{
	border:1px solid yellow;
}

#menuList{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#menuList > div {
	
	flex:1;
}

body{
	background:black;
	
	color:white;
}

.page{
	overflow:hidden;
	padding:10px;
	box-sizing:border-box;
	
	margin:auto;
	text-align:center;
	justify-content:center;
	
    width:100vw;
    height:5000px;
    border:3px dotted white;
	color:white;
	font-size:1.5rem;
	
}


.page > *{
	width:100%;
}

#page3btn, #page2btn, #page1btn{
    display:inline;
}

#hamIcon{
	display:none;
}

/* #ball { */
	/* background: cyan; */
	/* width: 100px; */
	/* height: 100px; */
	/* border-radius: 50%; */
	/* position: absolute; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
/* } */

.images{
	width:70%;
	border:1px dashed white;
}

header{
	text-align:center;
}

.pe{
	color:yellow;
}

.pred{
	color:red;
}

.blur{
	width:40%;
	filter: blur(20px);
}

/* flashlight effect */
.shadow {
  position: absolute;
  width: 200vw;
  height: 200vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: radial-gradient(circle at center, transparent, #000 10vw);
}

.warntext{
	color:red;
	font-size:2rem;
}

.wrapper {
  height: 100vh;
  /* background-image: url('img/fnaf3.jpg'); */
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width:1200px)
{
	.page,nav {
		width:1200px;
	}
	
}
@media screen and (max-width:800px){
    #hamIcon{display: block;} /* unhide menu icon */
	#menuList{display:none;}
	#menuList > div {
		flex-basis:100%;
	}
	.button {
		width:50%;
	}
}
#menuList.menuShow{
	display:flex;
}